@import "../../scss/abstract/variables";

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            list-style: none;
        }
    }

    button {
        padding: 5px 10px;
        cursor: pointer;
        background: $dark;
        border: 1px solid $dark-gray;
        color: $green;
    }

    .active  {
        background: $green;
        color: $dark;
    }
}