@import "../../scss/abstract/variables";

.not {
    &-authorized {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__container {
            display: flex;
            align-items: center;

            &-icon {
                font-size: 2rem;
                color: $light-red;
            }

            &-status {
                margin-left: .5rem;
            }
        }

        &__msg {
            padding: 1rem 0;
            border-bottom: 1px solid gray;
        }

        &__link {
            margin-top: .5rem;
            color: $light-red;

            &:hover {
                background: transparent;
                background: $dark-red;
            }
        }
    }
}