// global scss
#app {
	font-weight: normal;
}

form {
	border: 1px solid $dark-gray;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30rem;
    height: 26rem;

    h2 {
        margin-bottom: 1.25rem;
    }

	.field-container {
		position: relative;
		width: 100%;
		margin-bottom: 1rem;

		div {
			position: relative;
		}
	
		.field {
			padding: 10px;
			background: $dark;
			color: $green;
			border: none;
			border: 1px solid $dark-gray;
			width: 100%;
			font-size: .9rem;
	
			&:focus {
				outline: none;
			}
		}

		.password {
            font-size: 1rem;
            color: $green;
            position: absolute;
            top: 50%;
            right: .8rem;
            transform: translateY(-50%);
            cursor: pointer;
        }
	}
}

.dg-btn {
	padding: 10px 30px;
	background: $dark;
	color: $green;
	border: none;
	cursor: pointer;
	border: 1px solid $dark-gray;
	margin-bottom: 10px;
	transition: .3s;

	&:hover {
		background: $black;
		transition: .3s;
	}
};

a,
.green {
	text-decoration: none;
	color: $light-green;
	transition: 0.4s;

	&:hover {
		background-color: $dark-green;
	}
}