// colors
//////////

// white
$white: #eeeeee;

// black
$dark: #1b1b1b;
$black: #202020;

// green
$green: #1ab467;
$light-green: #00bd7e;
$dark-green: #00bd7e33;
$turquoise: #00885b;

// grey
$dark-gray: #2f4f4f;
$smoke: #2b2b2bcc;

// red
$light-red: #ff4343;
$red: #c90000;
$blood: #880808;
$dark-red: #7a000070;