.question {
    margin-top: .5rem;
}

.forgot {
    &-password {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: .5rem;
    }
}